<div class="menu-open hidden" menu-directive>
    <div class="menu-episodes-container">

      <div class="link-section hidden">
        <h2 class="menu-header">EPISODER</h2>
        <h2 class="about-link" ng-click="showAbout()">OM SERIEN</h2>
      </div>

      <div class="mainspincontainer" ng-if="gettingData">
        <div class="spinner">
          <div class="circle"></div>
          <div class="circle1"></div>
        </div>
      </div>

      <div class="menu-item hidden" ng-repeat="episode in episodes track by $index" ng-if="!gettingData">
        <div class="image-container" ng-if="episode.info.published === true">
          <img ng-src="{{episode.info.thumb}}" ng-click="episodeNavigation($index+1)">
        </div>
        <div class="date-container" ng-if="episode.info.published === false">
          <h4 class="release-date">{{episode.info.releaseDate}}</h4>
        </div>

        <div class="title-container">
          <h5 class="menu epi-index">0{{$index + 1}}:</h5>
          <h5 class="kommer-snart" ng-if="episode.info.published === true">{{episode.info.title}}</h5>
          <h5 class="kommer-snart" ng-if="episode.info.published === false">kommer snart</h5>
        </div>

      </div>
    </div>
  <div class="overlay"></div>
</div>

<div class="all-episodes animating" itemscope itemtype="http://schema.org/TVSeries">

	<div class="mainspincontainer" ng-if="gettingData">
		<div class="spinner">
			<div class="circle"></div>
			<div class="circle1"></div>
		</div>
	</div>

	<div class="episodes-content" ng-if="!gettingData">
		<div class="episode-container" id="episode{{$index + 1}}" ng-repeat="episode in episodes track by $index" ng-if="episode.info.published === true" itemscope itemtype="http://schema.org/Episode">

			<div class="episode-header">
				<div class="episode-number">
					<h4 class="episode">Episode {{$index + 1}}</h4>
				</div>
				<div class="divider"></div>
				<h2 class="episode-title">{{episode.info.title}}</h2>
			</div>

			<div class="episode-gif" id="gif{{episode.info.id}}" itemscope itemtype="http://schema.org/trailer">
				<img ng-src="{{episode.info.placeholder}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Episode Gif Placeholder Image" ng-show="gifShowing === false">
				<img ng-src="{{episode.info.gif}}" alt="Fucking Fornuftig TV2 Zulu Episode Gif" ng-if="gifShowing === true">
			</div>

			<div class="column-left">
				<div class="element-container hidden" ng-repeat="post in episode.posts track by $index" id="posts-{{post.id}}" ng-if="$even">

					<div class="video-embed" ng-if="post.type === 'youtube'"><iframe ng-src="{{post.trustedUrl}}" frameborder="0" allowfullscreen></iframe></div>

					<div class="tweet-embed" ng-if="post.type === 'tweet'" id="tweet{{post.id}}"></div>

					<div class="insta-embed" ng-if="post.type === 'instagram'">
								<div class="insta-head">
									<a href="{{post.meta.instaurl}}" target="_blank" analytics-on="click" analytics-category="Navigation" analytics-event="Go to Instagram from fuckingfornuftig.dk Instagram post">
										<div class="insta-author"><h4>{{post.instaEmbed.author_name}}</h4></div>
										<div class="insta-title"><p>{{post.instaTitle}}</p></div>
									</a></div>
								<a href="{{post.meta.instaurl}}" target="_blank"><img ng-src="{{post.meta.instaurl}}media/?size=l"></a>
								<div class="insta-bottom"><img ng-src="{{themePath}}/img/icons/instagram.png" alt="Fucking Fornuftig på Instagram"></div>
					</div>

					<div class="article-embed left compact" ng-if="post.type === 'custom_article'" ng-click="expandArticle($event)" analytics-on="click" analytics-event="Read article on fuckingsornuftig.dk" analytics-category="Articles" analytics-label="{{post.title}}">
						<div class="artikel-billede">
							<div class="close-article" ng-click="closeArticle($event)"></div>
							<img ng-src="{{post.meta.artikel_billede}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Artikel Billede">
						</div>
						<div class="artikel-head"><h4>{{post.title}}</h4></div>
						<div class="artikel-content hidden" ng-bind-html="post.articleText"></div>
					</div>

					<div class="fb-embed" ng-if="post.type === 'fbpost'">
						<a href="{{post.meta.fb_url}}" target="_blank">
							<div class="fb-billede">
								<img ng-src="{{post.meta.fb_img.url}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Facebook Post Billede">
							</div>
							<div class="fb-content" ng-if="post.meta.fb_tekst.length > 0">{{post.meta.fb_tekst}}</div>
						</a>
					</div>

					<div class="gif-embed" ng-if="post.type === 'gif'">
						<div class="gif not-rendered">
							<img ng-src="{{post.meta.small_gif}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Billede Gif">
						</div>
					</div>

					<div class="element-footer left compact">
						<div class="elem-footer-content">
							<div class="share-icons">
								<div class="share-icon fb"><img ng-src="{{themePath}}/img/icons/fb.png" alt="Del dette indlæg fra Fucking Fornuftig TV2 Zulu på Facebook" ng-click="sharePostFb(post.meta.fb_meta_name, post.meta.fb_meta_caption, post.meta.fb_meta_desc, post.meta.fb_meta_img, post.id)" analytics-on="click" analytics-category="Share" analytics-event="Share post on FB"></div>
								<div class="share-icon twitter"><img ng-src="{{themePath}}/img/icons/twitter.png" alt="Del dette indlæg fra Fucking Fornuftig TV2 Zulu på Twitter" analytics-on="click" analytics-category="Share" analytics-event="Share post on Twitter"></div>
							</div>
							<div class="internal-likes">
								<div class="element-numlikes" id="element-likes{{post.id}}"><h3>{{post.meta.post_likes}}</h3></div>
								<div class="element-like-btn" ng-click="updateLike(post.meta.post_likes, post.id, $event)" analytics-on="click" analytics-event="Like post on fuckingfornuftig.dk"><img ng-src="{{themePath}}/img/icons/heart.png" alt="Like dette indlæg på Fucking Fornuftig TV2 Zulu"></div>
							</div>
						</div>
					</div>
					<div class="elem-footer-shadow compact"></div>

				</div> <!-- element-container end -->

	</div> <!-- end column left -->


	<div class="column-right">
		<div class="element-container hidden" ng-repeat="post in episode.posts track by $index" id="posts-{{post.id}}" ng-if="$odd">

					<div class="video-embed" ng-if="post.type === 'youtube'"><iframe ng-src="{{post.trustedUrl}}" frameborder="0" allowfullscreen></iframe></div>

					<div class="tweet-embed" ng-if="post.type === 'tweet'" id="tweet{{post.id}}"></div>

					<div class="insta-embed" ng-if="post.type === 'instagram'">
								<div class="insta-head">
									<a href="{{post.meta.instaurl}}" target="_blank" analytics-on="click" analytics-category="Navigation" analytics-event="Go to Instagram from fuckingfornuftig.dk Instagram post">
										<div class="insta-author"><h4>{{post.instaEmbed.author_name}}</h4></div>
										<div class="insta-title"><p>{{post.instaTitle}}</p></div>
									</a></div>
								<a href="{{post.meta.instaurl}}" target="_blank"><img ng-src="{{post.meta.instaurl}}media/?size=l"></a>
								<div class="insta-bottom"><img ng-src="{{themePath}}/img/icons/instagram.png" alt="Fucking Fornuftig på Instagram"></div>
					</div>

					<div class="article-embed right compact" ng-if="post.type === 'custom_article'" ng-click="expandArticle($event)" analytics-on="click" analytics-event="Read article on fuckingsornuftig.dk" analytics-category="Articles" analytics-label="{{post.title}}">
						<div class="artikel-billede">
							<div class="close-article" ng-click="closeArticle($event)"></div>
							<img ng-src="{{post.meta.artikel_billede}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Artikel Billede">
						</div>
						<div class="artikel-head"><h4>{{post.title}}</h4></div>
						<div class="artikel-content hidden" ng-bind-html="post.articleText"></div>
					</div>

					<div class="fb-embed" ng-if="post.type === 'fbpost'">
						<a href="{{post.meta.fb_url}}" target="_blank">
							<div class="fb-billede">
								<img ng-src="{{post.meta.fb_img.url}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Facebook Post Billede">
							</div>
							<div class="fb-content" ng-if="post.meta.fb_tekst.length > 0">{{post.meta.fb_tekst}}</div>
						</a>
					</div>

					<div class="gif-embed" ng-if="post.type === 'gif'">
						<div class="gif not-rendered">
							<img ng-src="{{post.meta.small_gif}}" alt="Fucking Fornuftig TV2 Zulu TopGunn Billede Gif">
						</div>
					</div>

					<div class="element-footer right compact">
						<div class="elem-footer-content">
							<div class="share-icons">
								<div class="share-icon fb"><img ng-src="{{themePath}}/img/icons/fb.png" alt="Del dette indlæg fra Fucking Fornuftig TV2 Zulu på Facebook" ng-click="sharePostFb(post.meta.fb_meta_name, post.meta.fb_meta_caption, post.meta.fb_meta_desc, post.meta.fb_meta_img, post.id)" analytics-on="click" analytics-category="Share" analytics-event="Share post on FB"></div>
								<div class="share-icon twitter"><img ng-src="{{themePath}}/img/icons/twitter.png" alt="Del dette indlæg fra Fucking Fornuftig TV2 Zulu på Twitter" analytics-on="click" analytics-category="Share" analytics-event="Share post on Twitter"></div>
							</div>
							<div class="internal-likes">
								<div class="element-numlikes" id="element-likes{{post.id}}"><h3>{{post.meta.post_likes}}</h3></div>
								<div class="element-like-btn" ng-click="updateLike(post.meta.post_likes, post.id, $event)" analytics-on="click" analytics-event="Like post on fuckingfornuftig.dk"><img ng-src="{{themePath}}/img/icons/heart.png" alt="Like dette indlæg på Fucking Fornuftig TV2 Zulu"></div>
							</div>
						</div>
					</div>

				</div> <!-- element-container end -->

			</div> <!-- end column right -->

		</div> <!-- end episodes-content -->
	</div>
</div> <!-- end ALL episodes-content -->

<div class="about-template hidden" ng-if="!gettingCharacters">
	<div class="about-content">
	<div class="about-text">
		<h2>Om Serien</h2>
		<p class="about">
			I serien Fucking Fornuftig får du et indblik i livet som Oliver Gammelgaard, bedre kendt som TopGunn. Oliver lever et liv som en af landets største popikoner, men som mange andre på hans alder, kæmper han med karrieren, kærligheden, image og venskaber.
Fra den 30. august og seks uger frem kan du følge ham og hans hold bestående af manageren Hanned, DJ’en Tiger og chaufføren Kongen, mens de tager rundt i Danmark og er alt andet end fucking fornuftige.
		</p>
	</div>

		<div class="character" ng-repeat="character in characters | orderBy: 'id'">
				<div class="char-img"><img ng-src="{{character.img}}" alt="Fucking Fornuftig {{character.name}}" /></div>
				<div class="char-about"><p ng-bind-html="character.desc"></p></div>
				<div class="char-social">
					<div class="first" ng-if="character.linkFb">
						<a href="{{character.linkFb}}" target="_blank"><img ng-src="{{themePath + '/img/icons/fb-footer.png'}}"/></a>
					</div>
					<div class="second" ng-if="character.linkInsta">
						<a href="{{character.linkInsta}}" target="_blank"><img ng-src="{{themePath + '/img/icons/insta-footer.png'}}"/></a>
					</div>
				</div>

		</div>

	</div>
</div>
