@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #f1f1f1; }

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

a:focus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }

a:hover, a:active {
  outline: 0; }

a img {
  border: 0; }

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #2c2c2c; }
  html h1, body h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  html h2, body h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  html h3, body h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  html h4, body h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  html h5, body h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  html p, html b, html a, body p, body b, body a {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 1px;
    color: #2c2c2c; }
  html a, body a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
    -moz-transition: all 0.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
    -ms-transition: all 0.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
    -o-transition: all 0.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
    transition: all 0.5s cubic-bezier(0.2, 0.75, 0.8, 0.95); }
  html b, body b {
    font-weight: 700; }
  html a:hover, body a:hover {
    color: #2c2c2c;
    font-size: 11px;
    letter-spacing: 3px; }

.content-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding: 0 0 10px 0; }
  .content-area .bar {
    background-color: #FFF;
    position: fixed;
    z-index: 20000; }
  .content-area .bar.top {
    height: 20px;
    width: 100%;
    top: 0;
    left: 0; }
  .content-area .bar.bottom {
    height: 20px;
    width: 100%;
    bottom: 0;
    left: 0; }
  .content-area .bar.right {
    height: 100%;
    width: 20px;
    top: 0;
    right: 0; }
  .content-area .bar.left {
    height: 100%;
    width: 20px;
    top: 0;
    left: 0; }
  .content-area .overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    display: none;
    opacity: 0; }
  .content-area .info {
    width: auto;
    height: 20px;
    margin: 50px auto 20px auto;
    text-align: center; }
  .content-area .images-cont {
    width: 1000px;
    height: auto;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 0 0 100px 0;
    position: relative; }
    .content-area .images-cont .img-container {
      display: none;
      width: 200px;
      height: 200px;
      min-width: 200px;
      overflow: hidden;
      position: initial;
      float: left;
      opacity: 0;
      z-index: 1;
      cursor: pointer; }
      .content-area .images-cont .img-container img.child {
        height: 150%;
        width: auto;
        transform: translate(-5px, -30px);
        -webkit-transition: all 1.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
        -moz-transition: all 1.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
        -ms-transition: all 1.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
        -o-transition: all 1.5s cubic-bezier(0.2, 0.75, 0.8, 0.95);
        transition: all 1.5s cubic-bezier(0.2, 0.75, 0.8, 0.95); }
    .content-area .images-cont .img-container.large {
      width: 1077px;
      height: 700px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 2000;
      cursor: pointer; }
      .content-area .images-cont .img-container.large img.child {
        height: 100%;
        width: auto;
        transform: translate(0, 0); }
      .content-area .images-cont .img-container.large .threed-btn {
        position: absolute;
        right: 30px;
        top: 350px;
        padding: 10px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; }
