$w: #FFF;
$red: #7b191c;
$redShadow: #571113;
$brightRed: #e60007;
$darkBG: #f0f0f0;
$darkBop: rgba(0, 0, 0, 0.9);
$linkB: #55acee;
$red: #c9251c;
$black: #2c2c2c;
$font: #fff;
$lightG: rgba(255, 255, 255, 0.3);
