.content-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding: 0 0 10px 0;

  .bar {
    background-color: $w;
    position: fixed;
    z-index: 20000;
  }

  .bar.top {
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
  }

  .bar.bottom {
    height: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .bar.right {
    height: 100%;
    width: 20px;
    top: 0;
    right: 0;
  }

  .bar.left {
    height: 100%;
    width: 20px;
    top: 0;
    left: 0;
  }

  .overlay {
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    display: none;
    opacity: 0;
  }

  .info {
    width: auto;
    height: 20px;
    margin: 50px auto 20px auto;
    text-align: center;
  }

  .images-cont {
    width: 1000px;
    height: auto;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 0 0 100px 0;
    position: relative;

    .img-container {
      display: none;
      width: 200px;
      height: 200px;
      min-width: 200px;
      overflow: hidden;
      position:initial;
      float: left;
      opacity: 0;
      z-index: 1;
      cursor: pointer;

      img.child {
        height: 150%;
        width: auto;
        transform: translate(-5px, -30px);
        @include trans(1.5s);
      }
    }

    .img-container.large {
      width: 1077px;
      height: 700px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 2000;
      cursor: pointer;

      img.child {
        height: 100%;
        width: auto;
        transform: translate(0,0);
      }

      .threed-btn {
        position: absolute;
        right: 30px;
        top: 350px;
        padding: 10px;


        h3.threetxt {

        }
      }
    }
  }

}
