.content-area {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;

  .bar {
    background-color: $w;
    position: fixed;
    z-index: 2000;
  }

  .bar.top {
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
  }

  .bar.bottom {
    height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .bar.right {
    height: 100%;
    width: 30px;
    top: 0;
    right: 0;
  }

  .bar.left {
    height: 100%;
    width: 30px;
    top: 0;
    left: 0;
  }

  .img-container {
    top: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    @include trans(0.6s);

    img {
      height: 100%;
      width: auto;
    }
  }

  .img-container.wide {
    width: 100%;
    z-index: 1000;
  }

  .info {
    position:fixed;
    width: 400px;
    height: 160px;
    bottom: 100px;
    right: 100px;
    background-color: $w;
    padding: 30px;
    text-align: center;
    z-index: 2000;
    opacity: 0.8;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.35);

  }


}
